* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
}

html {
  /* 10px / 16px = 0.625 = 62.55 */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
}

.mt-16 {
  margin-top: 1.6rem;
}
