.main-section {
  width: 100%;
  height: 100vh;
  .inner-container {
    max-width: 144rem;
    max-height: 92rem;
    margin: auto auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10rem 16rem;
    border-radius: 2rem;
    justify-content: center;
    .details {
      .container-details {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12rem;
        .main-heading {
          font-family: "Montserrat";
          font-size: 5.6rem;
          font-style: normal;
          font-weight: 600;
          line-height: 6.4rem;
        }
        .description {
          font-family: "Lato";
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2.4rem;
          max-width: 73.6rem;
        }
      }
    }
    .second-team {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: max-content;
      gap: 4rem;
      margin: auto auto;
    }
    .second-team div:last-child {
      display: none;
    }
    .profile-container {
      max-width: max-content;
      .profile-name {
        max-width: max-content !important;
      }
      p {
        max-width: max-content !important;
      }
    }
  }
}
