.section-team {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-height: 107.2rem;
    max-width: 144rem;
    margin: auto auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2rem;
    padding: 9.6rem 16rem;
    .container-details {
      .main-heading {
        margin: 0 0 5.6rem 0 !important;
        font-family: "Montserrat";
        font-size: 4.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 5.6rem;
      }
      .description {
        font-family: "Lato";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.4rem;
        max-width: 25.6rem;
        max-height: 12rem;
      }
    }
    .gallery-holder {
      width: 100%;
      .container-Gallery {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
        gap: 3.2rem;
        .description {
          display: inline-block;
        }
        .gallery-holder {
          width: 100%;
        }
      }
    }
  }
}
